[submodule "projects/RSECloudComputingFellowship"]
	path = projects/RSECloudComputingFellowship
	url = https://github.com/alexmorley/RSECloudComputingFellowship
[submodule "projects/SSIFellowship"]
	path = projects/SSIFellowship
	url = git@github.com:alexmorley/SSIFellowship.git
