---
layout: default
title: Projects
---
<section class="intro">
	<div class="container">
		{% include miniproj-intro.md %}
	</div>
</section>

<section class="container">
	<div class="container project-icon">
		<img src="/assets/images/data-sci.svg" class="image project-image">
		<div class="overlay" >
			<a href="https://github.com/alexmorley/every-data-scientist-should-know" class="button">
				Every Data Scientist<br>Should Know
			</a>
		</div>
	</div> 
	<div class="container project-icon">
		<img src="/assets/images/ssi_title_light.svg" class="image project-image">
		<div class="overlay" >
			<a href="{{ '/projects/SSIFellowship' | prepend: site.baseurl }}" class="button">
				Software<br>Sustainability<br>Fellowship
			</a>
		</div>
	</div>
 	<div class="container project-icon">
		<img src="/assets/images/coc.png" class="image project-image">
		<div class="overlay" >
			<a href="http://codeofconduct.io" class="button">
				Code of Conduct<br>Builder
			</a>
		</div>
	</div>
 	<div class="container project-icon">
		<img src="/assets/images/julianeurologo.png" class="image project-image">
		<div class="overlay" >
			<a href="https://julianeuro.github.io/" class="button">
				Julia Neuro
			</a>
		</div>
	</div>
	<div class="container project-icon">
		<img src="/assets/images/strava-icon.svg" class="image project-image">
		<div class="overlay" >
			<a href="{{ 'cycle' | prepend: site.baseurl }}" class="button">
				Cycle The World<br>Strava
			</a>
		</div>
	</div>
</section>

<section class="applications">
	<div class="container">
		{% include applications.md %}
	</div>
</section>

